.controlWrapper {
  display: flex;
  gap: 16px;
}

.controlWrapper > * {
  width: 100%;
}

.controlItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.templateListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.resetButton {
  max-width: 200px;
  height: 56px;
  align-self: end;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
}
