.controlWrapper {
  display: flex;
  gap: 16px;
}

.controlWrapper > * {
  width: 100%;
}

.controlItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.templateListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.inlineItem {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
  background: #020202;
}
