.main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}
.warning {
    display: none;
    text-align: center;
    background: red;
    border-radius: 4px;
    padding: 8px;
    color: white;
}
@media(max-width: 900px){
    .warning {
        display: block;
    }
}
